@CHARSET "UTF-8";

#fidelapp_menuheader {
	-moz-box-sizing: border-box;
	background: none repeat scroll 0 0 #F8F8F8;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	height: 4em;
	margin: 0;
	padding: 0;
	top: 3.5em;
	width: 256px;
}

#fidelapp {
	height: 100%;
}

#fidelapp>#leftcontent a:hover,#leftcontent a.active {
	background-color: #DBDBDB;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #D4D4D4;
	color: #333333;
	font-weight: bold;
}

#fidelapp>#leftcontent a {
	background: none no-repeat scroll 1em center #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #FFFFFF;
	color: #666666;
	cursor: pointer;
	display: block;
	font-size: 1.2em;
	height: 2em;
	width: 100%;
	padding: 0.5em 0.8em;
	text-shadow: 0 1px 0 #F8F8F8;
	transition: background 300ms ease 0s;
}

#fidelapp>#rightcontent {
	width: 70%;
	top: 50px;
}

#fidelapp>#rightcontent label {
	font-weight: normal;
	padding: 0.3em;
}

#fidelapp>#rightcontent input {
	margin: 0;
}

#fidelapp>#rightcontent table {
	padding-left: 2em;
	width: 70%;
}

#fidelapp>#rightcontent td {
	padding: 0 5px;
	height: 20px;
}

#fidelapp>#rightcontent a.checked {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 16px;
	padding: 0;
	width: 16px;
	display: inline;
	opacity: 0.5;
	background-color: white;
}

#fidelapp>#rightcontent a.checked.disabled {
	background-image: url("%appswebroot%/fidelapp/img/checkmark-gray.png");
	color: #000000;
	cursor: default;
}

#fidelapp>#rightcontent a.checked {
	background-image: url("%appswebroot%/fidelapp/img/checkmark-green.png");
}


#fidelapp_wizard_step2 label[for="fidelapp_fixedIp"],#fidelapp_wizard_step2 label[for="fidelapp_domainName"]
	{
	display: inline-block;
	width: 10em;
}

#fidelapp_wizard_step2 label {
	margin-bottom: 1em;
	padding-left: 2em;
}

#fidelapp_wizard_step2 input[type="text"] {
	width: 15em;
}

#fidelapp_access_type #fidelapp_port {
	width: 5em;
}

#fidelapp_errors {
	margin-left: 3em;
	color: #FF2000;
	width: 50em;
}

#fidelapp_errors ul {
	list-style: square;
}

#fidelapp_spinner {
	position: absolute;
	padding-left: 3em;
}

.fidelapp_icon:hover {
	opacity: 0.8;
}

.fidelapp_delete {
	background-image: url("%webroot%/core/img/actions/delete.svg");
	float: right;
	cursor: pointer;
	display: block;
	height: 16px;
	width: 16px;
	margin: 2px;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
}

.fidelapp_triangle_down {
	background: url("%webroot%/core/img/actions/triangle-s.svg") no-repeat 0
		2px;
	padding-left: 20px;
}

#fidelapp_password_table .fidelapp_spinner {
	background-image: url("%webroot%/core/img/loading.gif");
	background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
}

input.active[type="button"] {
    color: #6193CF;
}

#fidelapp_selector {
	padding: 1em;
}