@CHARSET "UTF-8";

#fidelapp_dropdown {
	background: none repeat scroll 0 0 #EEEEEE;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: 0 1px 1px #777777;
	display: block;
	margin-right: 30em;
	padding: 1em;
	position: absolute;
	right: 0;
	width: 21em;
	z-index: 500;
}

#fileList span>a.action.fidelapp_permanent {
	display: inline;
	opacity: 0.5;
}

#fidelapp_dropdown .hidden {
	display: none !important;
}

#fidelapp_dropdown label {
	padding-left: 0.5em;
	font-weight: 400;
}

#fidelapp_dropdown input[type="checkbox"] {
	margin: 0 0.2em 0 0.5em;
}

#fidelapp_dropdown a.checked.disabled {
	background-image: url("%appswebroot%/fidelapp/img/checkmark-gray.png");
	color: #000000;
	cursor: default;
}

#fidelapp_dropdown a.checked {
	background-image: url("%appswebroot%/fidelapp/img/checkmark-green.png");
}

#fidelapp_dropdown a.checked.action {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 16px;
	padding: 0;
	width: 16px;
	display: inline;
	opacity: 0.5;
}

#fidelapp_dropdown a.checked.disabled.action:hover {
	opacity: 0.5;
	display: inline;
}

#fidelapp_dropdown a.checked.action:hover {
	opacity: 0.8;
	display: inline;
}

#shareWithFidelAppList span {
	float: left;
}

#shareWithFidelAppList li div {
	clear: left;
}

#shareWithFidelAppList li {
	border-top: 1px solid #DDDDDD;
	padding-top: 0.5em;
	float: left;
	width: 100%;
}

#shareWithFidelAppList .fidelapp_mailto {
	background-image: url("%webroot%/core/img/actions/mail.svg");
	cursor: pointer;
	float: right;
}

#shareWithFidelAppList .fidelapp_mailto:hover,#shareWithFidelAppList .fidelapp_triangle:hover
	{
	opacity: 0.8;
}

#shareWithFidelAppList .fidelapp_icon {
	display: block;
	height: 16px;
	width: 16px;
	margin: 2px;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
}

#shareWithFidelAppList .fidelapp_delete {
	background-image: url("%webroot%/core/img/actions/delete.svg");
	float: right;
	cursor: pointer;
}

#shareWithFidelAppList .fidelapp_delete:hover {
	background-image: url("%webroot%/core/img/actions/delete-hover.svg");
}

#shareWithFidelAppList .fidelapp_triangle {
	background-image: url("%webroot%/core/img/actions/triangle-s.svg");
	cursor: pointer;
	opacity: 0.5;
}

.fidelapp_contact_email {
	color: #505050;
	font-weight: bold;
}

.fidelapp_key-green {
	background-image: url("%appswebroot%/fidelapp/img/key-green.png");
}

.fidelapp_key-red {
	background-image: url("%appswebroot%/fidelapp/img/key-red.png");
}

#fidelapp_password_div {
	clear: left
}

input.fidelapp_url {
	width: 100%;
	padding: 0.6em 0 0.4em;
}

.fidelapp_contact_details {
	margin-left: 16px;
}

#fidelapp_download_type_div {
	margin: 0.8em 0;
}