@CHARSET "UTF-8";

#fidelapp_dropdown {
	background: none repeat scroll 0 0 #EEEEEE;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: 0 1px 1px #777777;
	display: block;
	margin-right: 30em;
	padding: 1em;
	position: absolute;
	right: 0;
	width: 19em;
	z-index: 500;
}

#fidelapp_dropdown form {
	font-size: 100%;
	margin-left: 0;
	margin-right: 0;
}

#fidelapp_dropdown label {
	padding-left: 0.5em;
	font-weight: 400;
}

#fidelapp_dropdown input[type="checkbox"] {
	margin: 0 0.2em 0 0.5em;
}

#fidelapp_dropdown .checked.disabled {
	background-image: url("/owncloud/apps/fidelapp/img/checkmark-gray.png");
	color: #000000;
	cursor: default;
}

#fidelapp_dropdown .checked {
	background-image: url("/owncloud/apps/fidelapp/img/checkmark-green.png");
	margin: 3px 0 3px -25px;
}

#fidelapp_dropdown .action {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 16px !important;
	padding: 0;
	width: 16px;
}

#shareWithFidelAppList span {
	float: left;
}

#shareWithFidelAppList li {
	clear: left;
}

#shareWithFidelAppList .fidelapp_mailto {
	background-image: url("/owncloud/core/img/actions/mail.svg");
	cursor: pointer;
	float: right;
}

#shareWithFidelAppList .fidelapp_mailto:hover,#shareWithFidelAppList .fidelapp_triangle:hover {
	opacity: 0.8;
}

#shareWithFidelAppList .fidelapp_icon {
	display: block;
	height: 16px;
	width: 16px;
	margin: 2px;
	padding: 0;
}

#shareWithFidelAppList .fidelapp_delete {
	background-image: url("/owncloud/core/img/actions/delete.svg");
	float: right;
	cursor: pointer;
}

#shareWithFidelAppList .fidelapp_delete:hover {
	background-image: url("/owncloud/core/img/actions/delete-hover.svg");
}

#shareWithFidelAppList .fidelapp_triangle {
	background-image: url("/owncloud/core/img/actions/triangle-s.svg");
	cursor: pointer;
	opacity: 0.6;
}

.fidelapp_key-green {
	background-image: url("/owncloud/apps/fidelapp/img/key-green.png");
}

.fidelapp_key-red {
	background-image: url("/owncloud/apps/fidelapp/img/key-red.png");
}

#fidelapp_password_div {
	clear: left
}