<input type="hidden" id="fidelboxTempUser" name="fidelboxTempUser" value="{{ fidelboxTempUser }}" />
<div>
	<fieldset class="personalblock">
		<p>
			<img alt="fidelbox captcha" src="{{ urlFidelboxCaptcha }}">
		</p>
		<p>
			<label for="fidelapp_captcha">{{ trans('Enter characters shown above') }}:</label>
			<input id="fidelapp_captcha" type="text" placeholder="" maxlength="6" />
		</p>

		<button id="fidelapp_fidelbox">{{ trans('Create new fidelbox account') }}</button>
	</fieldset>
</div>