<div>
	<fieldset class="personalblock">
		<p>
			{% if( validFidelboxAccount) %}
				{{ trans('Active fidelbox.de account with ID = %s', fidelboxAccount) }}
			{% else %}
				{{ trans('Broken fidelbox.de account detected') }}
			{% endif %}
		</p>
		<button id="fidelapp_fidelbox_delete">{{ trans('Delete account') }}</button>
	</fieldset>
</div>